<div class="row" data-user-id="{{:user.id}}">
    <div class="col-xs-10 col-lg-5">
        <div class="msg-header">
            <div id="image_preview" class="circle-img small"
                 style="background-image: url({{if user.imageFilename}}/user/{{:user.username}}/profile/image{{else}}/img/default_img.png{{else}}{{/if}});"></div>
            <p>
                <small>
                    <a href="/user/{{:user.username}}/profile" class="sent-by">{{:user.firstName}}
                        {{:user.lastName}}</a>
                </small>
            </p>
        </div>
        <div class="msg-group" data-msg-group>
        </div>
    </div>
</div>