body.chat-page {
    height: 100vh !important;
    width: 100vw !important;
    display: flex;
    flex-direction: column !important;
}

main.chat-container {
    flex: 1 !important;
    padding-bottom: 15px;
    overflow-y: auto;
    display: flex !important;
    flex-direction: column !important;
}

main.chat-container span.push-to-bottom {
    flex: 1 !important;
}

div.msg-group {
    padding-left: 0;
}

div.msg-group p {
    background-color: #3d3d3d;
    margin: 3px 0;
    padding: 5px 10px;
    display: inline-block;
    float: left;
    clear: left;
    border-radius: 20px;
}

div.msg-group.msg-owner p {
    background-color: #375a7f;
    color: #FFFFFF;
    float: right;
    clear: right;
}

a.sent-by {
    text-decoration: none;
}

.msgr-input-box {
    padding: 20px 10px;
    border-top: 1px solid #dddddd;
}

.msgr-input-box .form-inline {
    display: flex;
}

.msgr-input-box .form-inline textarea {
    border: none !important;
    overflow: hidden !important;
    outline: none !important;
    flex: 1;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    margin-right: 15px;
    height: 48px;
}

.btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
}

.btn-circle-micro {
    width: 19px;
    height: 19px;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 0.1;
    border-radius: 30px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    line-height: 1.65;
    border-radius: 30px;
}

.btn-circle-lg {
    width: 79px;
    height: 79px;
    text-align: center;
    padding: 13px 0;
    font-size: 30px;
    line-height: 2.00;
    border-radius: 70px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    main.chat-container {
        margin: 0 !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    main.chat-container {
        margin: 0 !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    main.chat-container {
        margin: 0 auto !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    main.chat-container {
        margin: 0 auto !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    main.chat-container {
        margin: 0 auto !important;
    }
}

img.profile-image {
    margin: 0 auto !important;
}

a.image-change {
    margin: 15px 0;
}

form.update-info {
    margin: 0 15px;
}

.manage-img-btn {
    width: 200px;
}

.manage-img-btn {
    margin-top: 15px;
}

#image_form_input {
    display: none;
}

.circle-img {
    height: 300px;
    width: 300px;
    border: 5px solid #00bc8c;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}



