<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>ChatBox</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-login"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ChatBox</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-login">
                <form th:action="@{/login}" method="post" class="form-inline navbar-form navbar-right login-form">
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" name="username" id="username" placeholder="Username" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" name="password" id="password" placeholder="Password"
                               class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    <div class="well col-xs-12 col-lg-6">
        <h2>Sign up</h2>
        <h5>Join our ever-evolving community. It's free.</h5>
        <form th:action="@{/register}" th:object="${userCreate}" method="post">
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                <label for="reg_username" class="control-label">Username</label>
                <input type="text" th:field="*{username}" id="reg_username" class="form-control"
                       aria-describedby="reg_username_help"/>
                <span id="reg_username_help" class="help-block" th:errors="*{username}">[error]</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                <label for="reg_password" class="control-label">Password</label>
                <input type="password" th:field="*{password}" id="reg_password" class="form-control"
                       aria-describedby="reg-password_help"/>
                <span id="reg_password_help" class="help-block" th:errors="*{password}">[error]</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error'">
                <label for="reg_confirm_password" class="control-label">Confirm Password</label>
                <input type="password" th:field="*{confirmPassword}" id="reg_confirm_password" class="form-control"
                       aria-describedby="reg_confirm_password_help"/>
                <span id="reg_confirm_password_help" class="help-block" th:errors="*{confirmPassword}">[error]</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
                <label for="reg_first_name" class="control-label">First Name</label>
                <input type="text" th:field="*{firstName}" id="reg_first_name" class="form-control"
                       aria-describedby="reg_first_name_help"/>
                <span id="reg_first_name_help" class="help-block" th:errors="*{firstName}">[error]</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
                <label for="reg_last_name" class="control-label">Last Name</label>
                <input type="text" th:field="*{lastName}" id="reg_last_name" class="form-control"
                       aria-describedby="reg_last_name_help"/>
                <span id="reg_last_name_help" class="help-block" th:errors="*{lastName}">[error]</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                <label for="reg_email" class="control-label">Email Address</label>
                <input type="email" th:field="*{email}" id="reg_email" class="form-control" aria-describedby="reg_email_help"/>
                <span id="reg_email_help" class="help-block" th:errors="*{email}">[error]</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('birthday')}? 'has-error'">
                <label for="reg_birthday">Birthday</label>
                <input type="date" th:field="*{birthday}" id="reg_birthday" class="form-control" aria-describedby="reg_birthday_help"/>
                <span id="reg_birthday_help" class="help-block" th:errors="*{birthday}">[error]</span>
            </div>
            <button type="submit" class="btn btn-success">Register</button>
            <button type="reset" class="btn btn-link">Clear</button>
        </form>
    </div>
</main>
<script src="/js/jquery-3.1.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>