<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>ChatBox</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-register"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/chat">ChatBox</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-register">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/chat">Chat</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    <div class="well">
        <div class="page-header">
            <h1><i class="fa fa-user" aria-hidden="true"></i> Profile
                <small th:text="${user.username}"></small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-1/2 col-md-4">
                <div id="image_preview" class="circle-img"
                     th:styleappend="${(user.imageFilename != null and !#strings.isEmpty(user.imageFilename))? 'background-image: url(/user/' + user.username + '/profile/image)' : 'background-image: url(/img/default_img.png)'}"></div>
                <a href="/user/update/image" class="btn btn-primary center-block image-change" th:if="${isOwner}">Change Picture</a>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        User Information
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td class="col-md-4"></td>
                                <td class="col-md-8"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Username</td>
                                <td th:text="${user.username}"></td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td th:text="${user.firstName}"></td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td th:text="${user.lastName}"></td>
                            </tr>
                            <tr>
                                <td>Email Address</td>
                                <td th:text="${user.email}"></td>
                            </tr>
                            <tr>
                                <td>Birthday</td>
                                <td th:text="${#dates.format(user.birthday, 'MMMMM d, yyyy')}"></td>
                            </tr>
                            <tr>
                                <td>About me</td>
                                <td th:text="${user.aboutMe}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer" th:if="${isOwner}">
                        <div class="control-group">
                            <div class="controls text-right">
                                <a href="/user/update"><i class="fa fa-wrench" aria-hidden="true"></i> Update
                                    Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/jquery-3.1.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>